.kiko-train:before {
  content: '\f001'; }

.kiko-car:before {
  content: '\f002'; }

.kiko-truck:before {
  content: '\f003'; }

.kiko-bike:before {
  content: '\f004'; }

.kiko-sailboat:before {
  content: '\f005'; }

.kiko-airplane:before {
  content: '\f006'; }

.kiko-helicopter:before {
  content: '\f007'; }

.kiko-motor-scooter:before {
  content: '\f008'; }

.kiko-motorcycle:before {
  content: '\f009'; }

.kiko-air-balloon:before {
  content: '\f010'; }

.kiko-plane-takes-off:before {
  content: '\f011'; }

.kiko-plane-lands:before {
  content: '\f012'; }

.kiko-bus:before {
  content: '\f013'; }

.kiko-cargo-vessel:before {
  content: '\f014'; }

.kiko-electromobile:before {
  content: '\f015'; }

.kiko-rocket:before {
  content: '\f016'; }

.kiko-rocket-shuttle:before {
  content: '\f017'; }

.kiko-ambulance:before {
  content: '\f018'; }

.kiko-police:before {
  content: '\f019'; }

.kiko-tank:before {
  content: '\f020'; }

.kiko-tractor:before {
  content: '\f021'; }

.kiko-tow-truck:before {
  content: '\f022'; }

.kiko-airship:before {
  content: '\f023'; }

.kiko-scooter:before {
  content: '\f024'; }

.kiko-self-balancing-scooter:before {
  content: '\f025'; }

.kiko-segway:before {
  content: '\f026'; }

.kiko-metro:before {
  content: '\f027'; }

.kiko-syringe:before {
  content: '\f028'; }

.kiko-pills:before {
  content: '\f029'; }

.kiko-microscope:before {
  content: '\f030'; }

.kiko-jar-of-medicine:before {
  content: '\f031'; }

.kiko-tubes:before {
  content: '\f032'; }

.kiko-medicine:before {
  content: '\f033'; }

.kiko-toilet:before {
  content: '\f034'; }

.kiko-patch:before {
  content: '\f035'; }

.kiko-pregnancy:before {
  content: '\f036'; }

.kiko-medical-app:before {
  content: '\f037'; }

.kiko-herbs:before {
  content: '\f038'; }

.kiko-recipe:before {
  content: '\f039'; }

.kiko-crushing-of-medicines:before {
  content: '\f040'; }

.kiko-blood:before {
  content: '\f041'; }

.kiko-donor:before {
  content: '\f042'; }

.kiko-brain:before {
  content: '\f043'; }

.kiko-kidneys:before {
  content: '\f044'; }

.kiko-liver:before {
  content: '\f045'; }

.kiko-lungs:before {
  content: '\f046'; }

.kiko-heart:before {
  content: '\f047'; }

.kiko-intestine:before {
  content: '\f048'; }

.kiko-stomach:before {
  content: '\f049'; }

.kiko-healthy-tooth:before {
  content: '\f050'; }

.kiko-aching-tooth:before {
  content: '\f051'; }

.kiko-nose:before {
  content: '\f052'; }

.kiko-ear:before {
  content: '\f053'; }

.kiko-eye:before {
  content: '\f054'; }

.kiko-chest:before {
  content: '\f055'; }

.kiko-doctor:before {
  content: '\f056'; }

.kiko-doctor-woman:before {
  content: '\f057'; }

.kiko-scheduled-med:before {
  content: '\f058'; }

.kiko-hand:before {
  content: '\f059'; }

.kiko-foot:before {
  content: '\f060'; }

.kiko-hospital:before {
  content: '\f061'; }

.kiko-stethoscope:before {
  content: '\f062'; }

.kiko-bacteria:before {
  content: '\f063'; }

.kiko-DNA:before {
  content: '\f064'; }

.kiko-spine:before {
  content: '\f065'; }

.kiko-bed-rest:before {
  content: '\f066'; }

.kiko-bone:before {
  content: '\f067'; }

.kiko-medical-cross:before {
  content: '\f068'; }

.kiko-medical-cross-usa:before {
  content: '\f069'; }

.kiko-dropper:before {
  content: '\f070'; }

.kiko-heart-rate:before {
  content: '\f071'; }

.kiko-marijuana:before {
  content: '\f072'; }

.kiko-fracture:before {
  content: '\f073'; }

.kiko-urine:before {
  content: '\f074'; }

.kiko-fecal:before {
  content: '\f075'; }

.kiko-diagnostics:before {
  content: '\f076'; }

.kiko-allergy:before {
  content: '\f077'; }

.kiko-call-med:before {
  content: '\f078'; }

.kiko-crutches:before {
  content: '\f079'; }

.kiko-wheelchair:before {
  content: '\f080'; }

.kiko-skull:before {
  content: '\f081'; }

.kiko-childbirth:before {
  content: '\f082'; }

.kiko-vitamins:before {
  content: '\f083'; }

@font-face {
  font-family: 'Kiko';
  src: url("../webfonts/fontkikolight.eot") format("embedded-opentype"), url("../webfonts/fontkikolight.woff") format("woff"), url("../webfonts/fontkikolight.woff2") format("woff2"), url("../webfonts/fontkikolight.otf") format("opentype");
  font-weight: 300;
  font-style: light; }

.kikol {
  font-family: 'Kiko';
  font-weight: 300; }

@font-face {
  font-family: 'Kiko';
  src: url("../webfonts/fontkikoreg.eot") format("embedded-opentype"), url("../webfonts/fontkikoreg.woff") format("woff"), url("../webfonts/fontkikoreg.woff2") format("woff2"), url("../webfonts/fontkikoreg.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

.kikor {
  font-family: 'Kiko';
  font-weight: normal; }

@font-face {
  font-family: 'Kiko';
  src: url("../webfonts/fontkikosolid.eot") format("embedded-opentype"), url("../webfonts/fontkikosolid.woff") format("woff"), url("../webfonts/fontkikosolid.woff2") format("woff2"), url("../webfonts/fontkikosolid.otf") format("opentype");
  font-weight: 600;
  font-style: bold; }

.kikos {
  font-family: 'Kiko';
  font-weight: 600; }
