@import "icons";
@font-face {
  font-family: 'Kiko';
  src: url('../webfonts/fontkikosolid.eot') format('embedded-opentype'),
  url('../webfonts/fontkikosolid.woff') format('woff'),
  url('../webfonts/fontkikosolid.woff2') format('woff2'),
  url('../webfonts/fontkikosolid.otf')  format('opentype'),
  url('../webfonts/fontkikosolid.svg') format('svg');
  font-weight: 600;
  font-style: bold;
}
.kikos{
  font-family: 'Kiko';
  font-weight: 600;
}
